<footer>
    <div class="footer_inner">
        <div class="footer_left">
            <p class="footer_left_disclaimer">&copy; @DateTime.Now.Year SJWA De Soos</p>
        </div>
        <div class="footer_right">
            <div class="button_wrapper">
                <a class="footer_right_button" target="_blank" href="https://www.facebook.com/desoosalmkerk"><i class="fa-brands fa-facebook"></i></a>
            </div>
            <div class="button_wrapper">
                <a class="footer_right_button" target="_blank" href="https://www.instagram.com/soos_almkerk/?hl=nl"><i class="fa-brands fa-instagram"></i></a>
            </div>
        </div>
    </div>
</footer>