<header>
    <nav>
        <div class="nav_inner">
            <div class="nav_left">
                <div id="NavLeftButtons" class="nav_left_buttons">
                    <div class="button_wrapper">
                        <a href="/">
                            <img class="nav_left_logo" src="~/img/SoosLogo.svg" alt="Soos Logo" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="nav_right">
                <div id="NavRightButtons" class="nav_right_buttons">
                    <div class="button_wrapper">
                        <a class="nav_right_button" href="/agenda"><i class="fa-solid fa-calendar-days"></i> Agenda</a>
                    </div>
                    <div class="button_wrapper">
                        <div class="nav_right_dropdown">
                            <a class="nav_right_button" href="/foto"><i class="fa-solid fa-camera"></i> Foto's <i class="fa-solid fa-caret-down"></i></a>
                            <div class="nav_right_dropdown-content">
                                <div class="button_wrapper">
                                    <a class="nav_right_button" href="/work"><i class="fa-solid fa-trash-can"></i> Verwijderen</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="button_wrapper">
                        <div class="nav_right_dropdown">
                            <a class="nav_right_button" href="/info"><i class="fa-solid fa-circle-info"></i> Info <i class="fa-solid fa-caret-down"></i></a>
                            <div class="nav_right_dropdown-content">
                                <div class="button_wrapper">
                                    <a class="nav_right_button" href="/werkenbij"><i class="fa-solid fa-briefcase"></i> Werken Bij</a>
                                </div>
                                <div class="button_wrapper">
                                    <a class="nav_right_button" href="/regels"><i class="fa-solid fa-scale-balanced"></i> Huisregels</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="button_wrapper">
                        <a class="nav_right_button" href="/contact"><i class="fa-solid fa-address-book"></i> Contact</a>
                    </div>
                </div>
                <div class="button_wrapper">
                    <a class="nav_right_dropdown_button" href="javascript:void(0);" onclick="OpenDropdownResponsive()"><i class="fa-solid fa-bars"></i></a>
                </div>
            </div>
        </div>
    </nav>
</header>