/*
    KLEUREN REFERENCE

    Soos Geel: #F3EA13
    Soos Geel Hover: #BCB800

*/

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../img/BackgroundImg.png);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Oswald';
    font-size: 22px;
}

a {
    text-decoration: none;
}

i {

}

nav, footer {
    background-color: rgba(25, 25, 25, .90);
    min-width: 100%;
}
nav {
    
}
footer {
    position: fixed;
    bottom: 0;
}
    .nav_inner, .footer_inner {
        display: flex;
        align-items: center;
        gap: 5vw;
    }
        .nav_left, .footer_left {

        }
            .nav_left_logo, .footer_left_disclaimer {
                position: relative;
                left: 1vw;
            }
            .nav_left_buttons {

            }
                .nav_left_logo {
                    max-height: 150px;
                    max-width: 300px;
                    padding: 5px;
                }
                    .nav_left_logo:hover {
                        filter: invert(61%) sepia(92%) saturate(432%) hue-rotate(18deg) brightness(93%) contrast(102%);
                }
            .footer_left_disclaimer {
                color: #F3EA13;
                font-size: 15px;
            }
        .nav_right, .nav_right_buttons, .footer_right {
            display: flex;
        }
        .footer_right {
            position: fixed;
            right: 1vw;
            gap: 1vw;
        }
            .nav_right_buttons {
                flex-direction: row;
                align-self: center;
                position: fixed;
                right: 10vw;
                gap: 5vw;
            }
                .nav_right_button, .nav_right_dropdown_button, .footer_right_button {
                    color: #F3EA13;
                }
                .nav_right_dropdown_button {
                    display: none;
                    margin-left: auto;
                }
                    .nav_right_button:hover, .nav_right_dropdown_button:hover, .footer_right_button:hover {
                        cursor: pointer;
                        color: #BCB800;
                    }
                        .nav_right_dropdown-content {
                            display: none;
                            position: absolute;
                            background-color: rgba(25, 25, 25, .50);
                            padding: 5px 5px;
                            border-radius: 15px;
                            min-width: 8vw;
                            white-space: nowrap;
                        }
                        .nav_right_dropdown:hover .nav_right_dropdown-content {
                            display: flex;
                            flex-direction: column;
                        }

.button_wrapper {
    transition: transform .2s;
}
    .button_wrapper:hover {
        transform: scale(1.10);
    }

.contact {

}
    .contact_bar {
        background-color: #F3EA13;
    }

@media screen and (max-width: 900px) {
    .nav_right_buttons {
        display: none;
    }

    .nav_right_buttons.responsive {
        display: flex;
        flex-direction: column;
        background-color: rgba(25, 25, 25, .90);
        position: absolute;
        top: 4.30em;
        right: 0;
        min-width: 100vw;
        text-align: left;
    }

    .nav_right_dropdown_button {
        display: flex;
    }

    .button_wrapper {
        transition: none;
    }

        .button_wrapper:hover {
            transform: none;
        }
}